* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
  padding: 64px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 700px;
  border-radius: 12px;
  display: flex;
}

.container .container-image {
  flex-basis: 50%;
  width: 50%;
}

.container .container-info {
  width: 50%;
  flex-basis: 50%;
  margin: 32px 32px 0 32px;
}

.container-info .info-type {
  font-family: "Montserrat";
  text-transform: uppercase;
  letter-spacing: 8px;
  color: hsl(228, 12%, 48%);
}

.container-info .info-title {
  font-weight: 700;
  font-family: "Fraunces";
  font-size: 44px;
  line-height: 100%;
  margin: 16px 16px 16px 0;
}

.container-info .info-description {
  font-family: "Montserrat";
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  line-height: 160%;
  margin: 16px 16px 16px 0;
}

.info-price {
  display: flex;
  align-items: center;
}

.info-price .price {
  font-weight: 700;
  font-family: "Fraunces";
  font-size: 44px;
  color: hsl(158, 36%, 37%);
  margin: 16px 16px 16px 0;
}

.info-price .discount {
  font-family: "Montserrat";
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  text-decoration-line: line-through;
}

.add-to-cart-btn {
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: 1px solid hsl(158, 36%, 37%);
  border-radius: 8px;
  padding: 16px 28px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.add-to-cart-btn img {
  margin-right: 8px;
}
