* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
  padding: 64px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 700px;
  border-radius: 12px;
  display: flex;
}

.container .container-image-desktop {
  width: 50%;
  border-radius: 12px 0 0 12px;
}

.container .container-image-mobile {
  display: none;
}

.container .container-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
}

.container-info .info-type {
  font-family: "Montserrat";
  text-transform: uppercase;
  letter-spacing: 8px;
  color: hsl(228, 12%, 48%);
}

.container-info .info-title {
  font-weight: 700;
  font-family: "Fraunces";
  font-size: 40px;
  line-height: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.container-info .info-description {
  font-family: "Montserrat";
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  line-height: 1.6;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.info-price {
  display: flex;
  align-items: center;
  gap: 12px;
}

.info-price .price {
  font-weight: 700;
  font-family: "Fraunces";
  font-size: 44px;
  color: hsl(158, 36%, 37%);
}

.info-price .discount {
  font-family: "Montserrat";
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  text-decoration-line: line-through;
}

.add-to-cart-btn {
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: 1px solid hsl(158, 36%, 37%);
  border-radius: 8px;
  padding: 16px 28px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-to-cart-btn img {
  margin-right: 8px;
}

.add-to-cart-btn:hover{
      cursor: pointer;
      background-color: hsl(158, 42%, 18%);
}

@media (max-width: 375px) {
  body {
    padding: 12px 0 24px 0;
  }
  .container {
    flex-direction: column;
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
  }

  .container .container-image-mobile {
    width: 100%;
    display: block;
    border-radius: 12px 12px 0 0;
  }

  .container .container-image-desktop {
    display: none;
  }

  .container .container-info {
    width: 100% !important; /* hoặc chỉ width: 100%; */
    padding: 20px 20px; /* tăng padding một chút cho mobile trông thoáng hơn */
    gap: 16px; /* giảm gap xuống cho phù hợp mobile */
  }

  .container-info .info-type {
    font-size: 8px;
    letter-spacing: 4px;
  }

  .container-info .info-title,
  .info-price .price {
    font-size: 24px;
  }

  .info-price .discount,
  .container-info .info-description {
    font-size: 8px;
  }

  .add-to-cart-btn {
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 12px;
  }
}
